@import 'compass';

@import "compass/reset";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

.container {
  position: relative;
}

.cb-slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  &:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
  }

  & li {
    span {

      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      opacity: 0;
      z-index: 0;
      @include animation(imageAnimation 50s linear infinite 0s);
    }

    &:nth-child(1) span {
      background-image: url(../images/01.jpg)
    }

    &:nth-child(2) span {
      background-image: url(../images/02.jpg);
      @include animation-delay(10s);
    }

    &:nth-child(3) span {
      background-image: url(../images/03.jpg);
      @include animation-delay(20s);
    }

    &:nth-child(4) span {
      background-image: url(../images/04.jpg);
      @include animation-delay(30s);
    }

    &:nth-child(5) span {
      background-image: url(../images/05.jpg);
      @include animation-delay(40s);
    }
  }
}

// No animation
.no-cssanimations {
  .cb-slideshow li span{
    opacity: 1;
  }
}

@include keyframes(imageAnimation) {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    transform: scale(1.05);
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
    transform: scale(1.1);
  }
  25% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% { opacity: 0 }
}